li {
    text-align: center;
    list-style: none;
    text-decoration: blink;
    margin: 5%;
}

.form-control {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
}
h2 {
    margin-top: 7%;
}
button.btn.btn-primary {
    margin-top: 5%;
    margin-left: 10%;
}
p {
    text-align: center;
    width: 80%;
    margin: auto;
}

@media only screen and (min-width: 470px){  
    .contactMe {
        width: 90%;
    margin: auto;
    box-shadow: 1px 1px 8px 15px slategrey;
    border-radius: 20px;
    }
    form {
        width: 90%;
    margin: 10% auto;
    box-shadow: 1px 1px 9px 11px slategrey;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 20px;
    }
}

@media only screen and (min-width: 860px) {
    .wrapper {
        display: flex;
    } 
.contactMe {
    width: 45%;
}
.contactMe::before{
    position: absolute;
    content: "Javascript, Html, Css , Angular";
    background-color: #e0e8e0;
    box-shadow: 1px 1px 11px 14px slategrey;
    color: blue;
    text-align: center;
    width: 54%;
    transform: rotate(-22deg);
    top: 307px;
    } 
    .contactMe::after{
        position: absolute;
        content: "Will be studying React soon";
        background-color: #e0e8e0;
        box-shadow: 1px 1px 11px 14px slategrey;
        color: blue;
        text-align: center;
        width: 54%;
        transform: rotate(22deg);
        top: 813px;
        } 

form {
    width: 45%;
}
}

@media only screen and (min-width: 960px) {
    .contactMe::before{
        transform: rotate(-19deg);
    top: 335px;
     }
     .contactMe::after {
        transform: rotate(19deg);
        top: 868px;
     }
}