<div class="wrapper">

    <div class="contactMe">

        <p>
            I am ambitious in Frontend web development ,if you have any request, work to be done or questions,
            please contact me using the details provided.
            My passion is creating and thriving to be better than yesterday.
        </p>

        <p>
            I build websites using mainly HTML, CSS, Javascript and Angular. Let your website be a Progressive web
            App - a website that can simply be installed like a native application on any medium.

        </p>

    </div>



    <div class="contactMe">
        <h2>Contact me using the following: </h2>
        <ul>
            <li> <a href="https://www.linkedin.com/in/chamumutezva">LinkedIn</a></li>
            <li><a href="https://twitter.com/ChamuMutezva"> Twitter</a></li>
            <li><a href="https://www.facebook.com/chamu.mutezva">Facebook</a></li>
            <li><a href="mailto:ckmutezva@gmail.com"> email</a></li>
            <li><a href="https://github.com/ChamuMutezva"> Github</a> </li>
        </ul>
        <footer>
            <p> &copy; 2020 C.K. Mutezva </p>
        </footer>

    </div>


</div>