* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: large;
}
li a {
    color: #f5f3e3;
}

li a:hover {
    color: #bcbd9a;
    opacity: 0.5;
}

nav {
    width: 100%;
    background-color: #2b2525;
    padding: 35px 0;
    line-height: 6vh;
    box-shadow: 1px 2px 3px 8px darkslategrey;
}