<div class="wrapper">
    <div class="intro">
        <h1>{{name}} </h1>
        <h2>Practicing <span id="crossContent">Painting </span>Frontend web developer</h2>
    </div>
<div class="profilePhoto">
    
    <img sizes="(max-width: 480px) 100vw, (max-width: 814px) 75vw, 480px"
        src="assets/images/profile_hp0oqg_c_scale,w_814.jpg" srcset="
    assets/images/profile_hp0oqg_c_scale,w_200.jpg 200w,
    assets/images/profile_hp0oqg_c_scale,w_292.jpg 292w,
    assets/images/profile_hp0oqg_c_scale,w_369.jpg 369w,
    assets/images/profile_hp0oqg_c_scale,w_432.jpg 432w,
    assets/images/profile_hp0oqg_c_scale,w_494.jpg 494w,
    assets/images/profile_hp0oqg_c_scale,w_558.jpg 558w,
    assets/images/profile_hp0oqg_c_scale,w_621.jpg 621w,
    assets/images/profile_hp0oqg_c_scale,w_674.jpg 674w,
    assets/images/profile_hp0oqg_c_scale,w_729.jpg 729w,
    assets/images/profile_hp0oqg_c_scale,w_785.jpg 785w,
    assets/images/profile_hp0oqg_c_scale,w_807.jpg 807w,
    assets/images/profile_hp0oqg_c_scale,w_814.jpg 814w" alt="My profile picture">
</div>
<div class="personalDetails">
    <p>
        I am a 'self taught' Frontend Web Developer on a continuous learning path. Comfortable
        building projects using:        

    </p>
    <ul class="langTechs" class="languagesUsed" >
        <li class="langUsed" *ngFor="let lang of languages">
            {{lang}}
        </li>
    </ul>
</div>
</div>