* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
h1 {
    text-align: center;
    margin: 5% auto;
    font-size: x-large;
}
img {
    display: block;
    margin: auto;
    width: 85%;
    border-radius: 20px;
    box-shadow: 1px 3px 20px 20px lightslategray
}
p {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
}
ul.languagesUsed {
    margin-top: 10%;
    text-align: center;
    font-size: 24px;
    list-style: none;
}
.profilePhoto {
    width: 100%;
    margin-top: 5%;
}
h2 span {
    text-decoration: double line-through red;
}
.personalDetails {
    width: 100%;
    text-align: center;
    /* border: 1px solid; */
    margin: 10% 5%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 20px lightslategray
}

@media only screen and (min-width: 540px) {
    .profilePhoto {
        width: 48%;
    }
    .personalDetails {
        width: 48%;
    }

}


@media only screen and (min-width: 917px) {
    .profilePhoto {
        width: 45%;
    }
    .personalDetails {
        width: 40%;
    margin-top: 5%;
    }

}