/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600,700&display=swap");
html {
  /*  scroll-behavior: smooth; */
}
h1, h2 {
    text-align: center;
}
body {
    background-color: darkgray;
    font-family: "Barlow Semi Condensed", sans-serif;
}